@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Site's owner @ViewData["Name"]</p>

<address>

    <strong>
        Project: @ViewData["Message"]
    </strong>


</address>

